.head{
margin-left: 30%;
}

h2{
    border-color: blanchedalmond;
    border: solid;
    border-color: #FCC5C0;
    padding-left: 400px;
    padding-top: 20px;
    padding-bottom: 10PX;
    margin: 50px;
}
    .content{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: white;
        border: solid;
        border-color: #FCC5C0;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 20px;
        padding-bottom: 100px;
    }
    p{
        border: solid;
        border-color: #FCC5C0;
        margin: 30px;
    }
    img{
        width:180px;
        height: 130px;
        border-radius: 30%;
        margin: 10px;
       
        border-color: #FCC5C0;
    }
    .prop1{
        margin-left: 100px;
    }
    .foot{
        display: flex;
        justify-content: space-between;
        border: 2px solid;
        border-color: #FCC5C0;
        padding: 30px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .nav{
        display: flex;
        height: 50px;
        background-color: #FCC5C0;
        justify-content: center;
        align-items: center;
        padding: 5px;
        position:sticky;
        top: 0;

    }
    .icon{
        display: flex;
    }
    .menu{
        display: flex;
        margin-left: auto;
        justify-content:space-evenly;
    }
    .mi{
        padding: 5px;
    }
    #Contact{
        height: 120px;
        margin-top: 20px;
        padding: 20px;
        background-color: #CCD6A6;
    }
   h4{
    align-items: center;
   }
   .MainB{
    background-image: url("Backg.jpg");
    height: 560%;
    background-size: 95% 100%;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   }
   .subh{
    font-family: Georgia, 'Times New Roman', Times, serif;
   }